extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Khalid Al Nabhani

        
        p Full Stack JavaScript Developer


        .about-bio
          p Growth is the describtion of life

      .skills-contact-box.box
        h6 Skills

        ul
          li Service Oriented Architucture (SOA)
          li Business Architure
          li GIS
          li ERP 
          li HTML
          li CSS
          li JavaScript
          li C language 
          li Python 
          li Django
          li Git and GitHub
          li VS Code
          li Accessibility 
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        
        ul
          li +(968)9944-4401 
          li khalid.nabhani@gmail.com 

        
        //- a.btn-link(href='') LinkedIn
        a.btn-link(href='https://github.com/KhalidNabhani') GitHub
        a.btn-link(href='https://twitter.com/home') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back