extends layout.pug

block content

  article.portfolio-intro 
    h1 Some thing about me 
    p The Follwing are sample of my works in diffrent areas 
  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`${project.description}`)
            h5= project.project_name

